/* Reset some default spacing */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.5;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 6px 6px 0 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

a{
    text-align: center
}

nav a {
    color: #cceeff;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}


main {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

/* Headings */
h2 {
    color: #004466;
    margin-bottom: 10px;
}

/* Paragraphs */
p {
    margin-bottom: 10px;
}


/* Table formatting */

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.center-header {
    text-align: center;
}
