{% include "header.html" %}

<main>
  <h2>About this application</h2>
  <p>Welcome! This Application was developed as part of a class covering databases. While simple, it is meant to demonstrate knowledge of how a mySQL database can be created and deployed utilizing various technologies, including HTTP, python with Flask, and mySQL.</p>
  <p>Especially as the class was not about html or css, the stylistic aspects of this application were generated utilizing Claude AI.</p>

</main>

{% include "footer.html" %}

