{% include "header.html" %}

<body>
    <h3>Current Company Table</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Industry</th>
                <th>Location</th>
                <th>Size</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company[1] }}</td>
                <td>{{ company[2] }}</td>
                <td>{{ company[3] }}</td>
                <td>{{ company[4] }}</td>
                <td>{{ company[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3><a href="{{ url_for('addCompany') }}">Add a new Company</a>
    <h3><a href="{{ url_for('deleteCompany') }}">Delete a Company</a>
</body>

{% include "footer.html" %}
