{% include "header.html" %}

<body>
  <h3>Add a new contact to the database</h3>
  <form method="POST" action="/contact/new">
        <div class="form-group">
            <label>Company:</label>
            <select name="company_id" id="contactSelect">
                <option value="">Select a company</option>
                {% for company in companies %}
                <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone">
        </div>
        <div class="form-group">
            <label for="positino">Position:</label>
            <input type="text" id="position" name="position">
        </div>
        <button type="submit">Add Contact</button>
    </form>

</body>


{% include "footer.html" %}
