{% include "header.html" %}

<body>
  <h3>Add a new full time job to the database</h3>
  <form method="POST" action="/job/new/ft">
    <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="post_date">Post Date:</label>
            <input type="text" id="post_date" name="post_date">
        </div>
        <div class="form-group">
            <label for="close_date">Close Date:</label>
            <input type="text" id="close_date" name="close_date">
        </div>
        <div class="form-group">
            <label for="hyperlink">Hyperlink:</label>
            <input type="text" id="hyperlink" name="hyperlink">
        </div>
        <div class="form-group">
            <label for="company">Website:</label>
            <input type="text" id="website" name="website">
        </div>
        <button type="submit">Add Company</button>
    </form>

</body>


{% include "footer.html" %}
