{% include "header.html" %}

<body>
  <h3>Add a new role to the database</h3>
  <form method="POST" action="/role/new">
    <div class="form-group">
            <label for="title">Role Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="avg_wage">Average Wage:</label>
            <input type="number" step="0.01" id="avg_wage" name="avg_wage">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
        </div>
        <button type="submit">Add role</button>
    </form>

</body>


{% include "footer.html" %}
