{% include "header.html" %}

<body>
  <h3>Delete a company</h3>

  <form method="POST" action="/deleteCompany">
        <div class="form-group">
            <label for="id">Company id</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div class="form-group">
            <label for="name">Company Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <button type="submit">Delete Company</button>
    </form>

</body>


{% include "footer.html" %}
