<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>From ER to HTTP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

      {% if error %}
    <p class="alert alert-danger col-sm-4" role="danger">
      <strong>Error:</strong> {{ error }}
    </p>
    {% endif %}

  <header>
    <h1>From ER to HTTP</h1>

    <nav>
      <a href="{{ url_for('home') }}">Home</a> |
      <a href="{{ url_for('viewCompanies') }}">View Companies</a> |
      <a href="{{ url_for('jobs') }}">View Jobs</a> |
      <a href="{{ url_for('viewCerts' )}}">View Certifications</a> |
      <a href="{{ url_for('allTables' ) }}">All Tables</a> |
      <a href="{{ url_for('about') }}">About</a> |
    </nav>
    <hr>
  </header>
