{% include "header.html" %}
<br>
<h2 class="center-header">Click a table to view and modify it</h2>

<div style="text-align: center; margin-top: 2rem;">
  <a href="/companies" style="margin: 0 1.5rem; font-size: 2.5rem;">Companies</a>
  <a href="/cert/all" style="margin: 0 1.5rem; font-size: 2.5rem;">Certifications</a>
  <a href="/job/all" style="margin: 0 1.5rem; font-size: 2.5rem;">Jobs</a>
</div>

<h2 class="center-header">All Tables</h2>
<div style="text-align: center; margin-top: 2rem;">
  {% for table in tables %}
  <a href="/{{ table }}/all" style="margin: 0 1.5rem; font-size: 2.0rem;">{{ table }}</a>
  {% endfor %}

{% include "footer.html" %}
