{% include "header.html" %}

<body>
    <h3>Job postings overview</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Contact</th>
                <th>Hyperlink</th>
                <th>Job Type</th>
                <th>Certifications</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="/job/{{ job.id }}">{{ job.title }}</a></td>
                <td>{{ job.company.name }}</td>
                <td>{{ job.contact.phone }} / {{ job.contact.email }}</td>
                <td><a href=""{{ job.hyperlink }}">{{job.hyperlink}}</a></td>
                <td>{{ job.type }}</td>
                <td>
                {% for cert in job.certs %}
                <a href="cert/{{cert.id}}">{{cert.name}}</a>
                {% endfor %}
                </td>
                <td><a href="/job/delete/{{ job.id }}">Delete Job</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>

<div style="text-align: center; margin-top: 2rem;">
    <p style="font-size: 2.0rem;">
        <a href='/job/new'>Add a new job</a>
    </p>
</div>


</body>

{% include "footer.html" %}
