{% include "header.html" %}

<body>
    <h3>Companies with jobs in the database</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Industry</th>
                <th>Location</th>
                <th>Size</th>
                <th>Website</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.industry }}</td>
                <td>{{ company.location }}</td>
                <td>{{ company.size }}</td>
                <td>{{ company.website }}</td>
                <td>  <a href="/company/delete/{{ company.id }}">Delete</a>,
    <a href="/company/update/{{ company.id }}">Update</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3><a href="/company/new">Add a new Company</a></h3>
   
</body>

{% include "footer.html" %}
