{% include "header.html" %}

<body>
    <h3>Existing roles in the database</h3>
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Average Wage</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
             {% for role in roles %}
            <tr>
                <td>{{ role.title }}</td>
                <td>{{ role.avg_wage }}</a></td>
                <td>{{ role.description }}</td>
                <td>  <a href="/role/delete/{{ role.id }}">Delete</a>,
    <a href="/role/update/{{ role.id }}">Update</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</br>
   <h3><a href="/role/new">Add a role</a></h3>

   
</body>

{% include "footer.html" %}
