{% include "header.html" %}

<body>
    <h3>Contents of contracts table</h3>
    <table>
        <thead>
            <tr>
                <th>Job</th>
                <th>Terms</th>
                <th>Schedule</th>
                <th>Pay</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td><a href='/job/{{ contract.job.id }}'>{{ contract.job.title }}</a></td>
                <td>{{ contract.terms }}</td>
                <td>{{ contract.schedule }}</td>
                <td>{{ contract.pay }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>

{% include "footer.html" %}
